@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

* {
  box-sizing: border-box;
}

/* COLOR VARIABLES --------------------------------------------------------------> */
:root {
  --bg-color: #000;
  --color-2: #ffc534;
  --color-3: #c9c4ed;
  --color-4: #eb6a9e;
  --color-5: #e3a5eb;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Kulim Park", sans-serif;
  --main-text-color: #fff;

  --white-space: 1rem;
}

/* HIDDEN CLASS -----------------------> */

.hidden {
  display: none;
}

/* HOVER EFFECTS ----------------------------------------------------------------> */
button {
  transition: all 3s;
}
a {
  transition: all 3s;
}
.primary-button:hover {
  background-color: var(--color-2);
  color: white;
  transform: translateY(0.5rem);
}

.secondary-button:hover {
  background: none;
  color: var(--color-4);
  transform: scale(1.2);
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: #6f6f6f;
}

/* GENERAL ----------------------------------------------------------------> */
html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

/* HEADER STYLING -------------------------------------------------------------> */
.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: #e3a5eb;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--color-3);
}

.header-wrapper h4 {
  font-size: 0.8rem;
  padding: 0.5rem;
}

/* MAIN STYLING --------------------------------------------------------> */
main {
  background-color: #383838;
  padding: 5rem;
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

/* COLOR SWATCHES -----------------------------------------------------> */

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
  border-bottom-left-radius: 3rem;
}

ul li:last-child {
  margin-right: 0;
}

.hex-number {
  padding: 1rem;
  color: white;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

/* TEXTURES STYLING --------------------------------------------------------------->*/
.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/meric-dagli-VbLsByQrhz4-unsplash.jpg) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/mikita-yo-OCrl1Tkt630-unsplash.jpg) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/pawel-czerwinski-oNcFi_dYz_0-unsplash.jpg) top left
    repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

/* BUTTON STYLING ------------------------------------------------> */
button {
  padding: 1rem;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--primary-font);
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.primary-button {
  background: none;
  border-color: var(--color-2);
  border-width: 0.2rem;
  color: var(--color-2);
}

.secondary-button {
  background: var(--color-4);
  border-color: var(--color-4);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

/* TEXT SAMPLE STYLING -------------------------------------------------------> */
.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-5);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--color-3);
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--color-2);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
  text-transform: uppercase;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

/* FOOTER STYLING & MEDIA QUERIES ----------------------------------------------> */
footer {
  font-style: italic;
  color: var(--color-3);
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
